
.img-card{
    object-fit: cover;
    height: 100%;
}

.card{
    overflow: hidden;
}

.page-wrapper{
    max-width: 1300px;
}

.search-wrapper{
    max-width: 400px;
    margin-top: 200px;
}

.apartment-rating{
    max-width: 150px;
}

@media screen and (min-width: 992px) {
    .search-wrapper{
        margin-top: 300px;
    }
}